echo "Last Cron Job Run: $( date +%H:%M )" > /tmp/nightscout.out
RAW=$(curl -s base_url_replace/api/v1/entries/current 2> /dev/null)
BLOOD_GLUCOSE=$(echo "$RAW" | awk '{print $3}')
DIRECTION=$(echo "$RAW" | awk '{print $4}' | tr -d '"')
case "$DIRECTION" in
  DoubleUp) ARROW="⏫" ;;
  SingleUp) ARROW="⬆️" ;;
  FortyFiveUp) ARROW="↗️" ;;
  Flat) ARROW="➡️" ;;
  FortyFiveDown) ARROW="↘️" ;;
  SingleDown) ARROW="⬇️" ;;
  DoubleDown) ARROW="⏬" ;;
  *) ARROW="❓" ;;
esac
echo "$BLOOD_GLUCOSE $ARROW @ $( date +%H:%M )" > ~/glucose.txt
